/*
        StAuth10244: I John Young, 000371952 certify that this material is my original work.
         No other person's work has been used without due acknowledgement. I have not made
          my work available to anyone else.
*/

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #16a529;
}

/*title rules*/
h1{
    text-align: center;
    font-size: 2em;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*content area rules*/
.playArea{
    border-style: solid;
    border-width: 10px;
    border-color: black;
    height: 90vh;
    width: 90vw;
    margin: 0.5em auto;
}

/*card rules*/
.cardArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    border-width: 2px;
    border-color: black;
    margin: 10px;
}

.card{
    height: 100px;
    width: 80px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    transition: transform 0.5s ease;
}

.cardSuit{
    font-size: 36px;
    background-color: white;
    padding-bottom: 50px;
    padding-left: 5px;
}

.cardValue{
    font-size: 48px;
    background-color: white;
}

.red{
    color: red;
}

.black{
    color: black;
}

.pickedUp{
    border: 2px solid #db1608;
    box-shadow: 0 0 10px rgba(255, 99, 71, 0.5);
    transform: scale(1.1);
}

/*deck rules*/
.deckContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.deckArea{
    margin: 10px;
    background-color: #4585c9;
    height: 200px;
    width: 140px;
    border: 2px solid black;
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.deckArea p{
    background-color: #4585c9;
    text-align: center;
}

/*button rules*/
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.buttonContainer button{
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    font-size: 2em;
}

.buttonContainer button:hover{
    background-color: #db1608;
    color: white;
}

/*stop highlighting text on click*/
::selection {
    background: none;
  }